language: generic 
sudo: required
services:
  - docker

before_install:
  - docker build -t franktruc/docker-react -f Dockerfile.dev .


script:
  - docker run -e CI=true franktruc/docker-react npm run test

deploy:
  provider: elasticbeanstalk
  region: "us-west-2"
  app: "docker-react"
  env: "DockerReact-env"
  bucket_name: "elasticbeanstalk-us-west-2-738742137153"
  bucket_path: "dockerreact"
  provider: s3
  access_key_id: "$AWS_ACCESS_KEY"
  secret_access_key: "$AWS_SECRET_KEY"

on:
  branch: master
